<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Festify Header</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
           <!-- <------section 1------> 

  <header>
    <div class="navbar">
      
      <div class="nav-logo">
        <div class="logo"></div>
        <p class="name">Festify</p>
      </div>

      <div class="address-container">
        <i class="fa-solid fa-location-dot"></i>
        <div class="address-text">
          <p class="line-1">Deliver to</p>
          <p class="line-2">Mumbai, 400001</p>
        </div>
      </div>

      <div class="search-container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for products, brands and more...">
      </div>

      <div class="icons-container">
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-gear"></i>
      </div>  
    </div>
  </header>
  <hr>
                <!-- <------section 2------> 
  <header>  
    <div class="navbar2">
      <div class="items">
        <p>Home</p>
        <p>Electronics</p>
        <p>Fashion</p>
        <p>Home and Kitchen</p>
        <p>Decorations</p>
      </div>
      <div class="dropdown">
        <select name="dropdown" id="dropdown">
          <option value="Christmas">Christmas</option>
          <option value="New Year">New Year</option>
          <option value="Diwali">Diwali</option>
          <option value="Holi">Holi</option>
          <option value="Eid">Eid</option>
          <option value="Valentine's Day">Valentine's Day</option>
          <option value="Independence Day">Independence Day</option>
          <option value="Mother's Day">Mother's Day</option>
          <option value="Father's Day">Father's Day</option>
          <option value="Halloween">Halloween</option>
          <option value="Thanksgiving">Thanksgiving</option>
        </select>
      </div>
    </div>
  </header>
  <hr>
                         <!-- hero Section   -->

  
  <main>
  <div class="hero">

                                <!-- Top festive offer banner -->
    <div class="content">
      <i class="fa-solid fa-snowflake"></i>
      <p>Celebrating Christmas with Special Offers</p>
    </div>

    <!-- Main headline -->
    <div class="main-content">
      <p class="line1">Make Every Festival</p>
      <p class="line2">Unforgettable</p>
    </div>

    <div class="tit-line">
      <p>Discover curated collections for every celebration. Premium products, festive discounts, delivered with joy.</p>
    </div>

    <div class="xtra-btn">
  <button class="btn1">
    Shop Christmas Sale
    <i class="fa-solid fa-arrow-right"></i>
  </button>

  <button class="btn2">
    Learn More
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
</div>
                                <!-- after main category -->

<div class="categories">
  <div class="line3">
      <p class="sbc">Shop by category</p>
      <p class="explore">Explore our curated collections for every celebration.</p>
  </div>
  <div class="boxes">

  </div>
</div>

</main>







</body>
</html>
